<h1>Билет N 25.
  Дан массив чисел arr_d. Определить максимальную разность элементов по схеме:
  первый - последний, второй - предпоследний…
  И вывести на печать сумму и номера элементов. Скобелев Владислав ИУ6-34Б.
</h1>
<p>Форма для введения данных</p>
<%= form_tag("/calculations/result", :method => "get") do %>
  <%= label_tag("Value:") %>
  <%= text_field_tag(:v1,'1,3,5,7') %> <br/>
  <br/>
  <%= submit_tag("Calc result") %>
<% end %>